In [168]:
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objects as go

In [169]:
df_raw = pd.read_csv('dataset/all_matches.csv')
print(df_raw.shape)
df_raw.match_id.nunique()

(194354, 22)

819

In [170]:
df_raw.sample(4)

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
5835,336006,2007/08,2008-05-05,M Chinnaswamy Stadium,2,3.1,Kings XI Punjab,Royal Challengers Bangalore,RR Sarwan,SE Marsh,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40492,419161,2009/10,2010-04-19,Eden Gardens,1,12.3,Mumbai Indians,Kolkata Knight Riders,SS Tiwary,JP Duminy,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170001,1136609,2018,2018-05-15,Eden Gardens,2,12.1,Kolkata Knight Riders,Rajasthan Royals,KD Karthik,CA Lynn,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116700,829775,2015,2015-05-03,"Punjab Cricket Association Stadium, Mohali",2,1.5,Kings XI Punjab,Mumbai Indians,M Vijay,GJ Maxwell,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Venue

In [171]:
df_raw.venue.nunique()

42

In [172]:
def value_consistency(col, existing_values, unik_value, data):
    mask = data[col].isin(existing_values)
    # old val
    print(df_raw[mask][col].value_counts())
    print("-------------------------------------------")
    #update
    data.loc[(mask), col] = unik_value
    #new val
    print(df_raw[mask][col].value_counts())
    print("--------------------------------------------------------------------------------")

In [173]:
value_consistency('venue',['M Chinnaswamy Stadium', 'M.Chinnaswamy Stadium'], 'M Chinnaswamy Stadium', df_raw)
value_consistency('venue',['MA Chidambaram Stadium', 'MA Chidambaram Stadium, Chepauk',
                             'MA Chidambaram Stadium, Chepauk, Chennai'], 'MA Chidambaram Stadium, Chepauk', df_raw)
value_consistency('venue',['Punjab Cricket Association IS Bindra Stadium',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Punjab Cricket Association Stadium, Mohali'], 'Punjab Cricket Association Stadium, Mohali', df_raw)
value_consistency('venue',['Rajiv Gandhi International Stadium',
       'Rajiv Gandhi International Stadium, Uppal'], 'Rajiv Gandhi International Stadium, Uppal', df_raw)
value_consistency('venue',['Wankhede Stadium', 'Wankhede Stadium, Mumbai'], 'Wankhede Stadium', df_raw)

M Chinnaswamy Stadium    14907
M.Chinnaswamy Stadium     3494
Name: venue, dtype: int64
-------------------------------------------
M Chinnaswamy Stadium    18401
Name: venue, dtype: int64
--------------------------------------------------------------------------------
MA Chidambaram Stadium, Chepauk             11760
MA Chidambaram Stadium                       2130
MA Chidambaram Stadium, Chepauk, Chennai      498
Name: venue, dtype: int64
-------------------------------------------
MA Chidambaram Stadium, Chepauk    14388
Name: venue, dtype: int64
--------------------------------------------------------------------------------
Punjab Cricket Association Stadium, Mohali              8266
Punjab Cricket Association IS Bindra Stadium, Mohali    2574
Punjab Cricket Association IS Bindra Stadium            2429
Name: venue, dtype: int64
-------------------------------------------
Punjab Cricket Association Stadium, Mohali    13269
Name: venue, dtype: int64
--------------------------------------------------------------------------------
Rajiv Gandhi International Stadium, Uppal    11604
Rajiv Gandhi International Stadium            3609
Name: venue, dtype: int64
-------------------------------------------
Rajiv Gandhi International Stadium, Uppal    15213
Name: venue, dtype: int64
--------------------------------------------------------------------------------
Wankhede Stadium            17591
Wankhede Stadium, Mumbai      239
Name: venue, dtype: int64
-------------------------------------------
Wankhede Stadium    17830
Name: venue, dtype: int64
--------------------------------------------------------------------------------

In [174]:
# sorted(df_raw.venue.unique())
df_raw.venue.nunique()

35

## Season

In [175]:
print(df_raw.season.unique())
df_raw.season = df_raw.season.map(str)
print(df_raw.season.unique())

['2007/08' '2009' '2009/10' '2011' '2012' 2012 2013 2014 2015 2016 2017
 2019 2018 '2018' '2019' '2020/21' '2021']
['2007/08' '2009' '2009/10' '2011' '2012' '2013' '2014' '2015' '2016'
 '2017' '2019' '2018' '2020/21' '2021']

## batting_team

In [176]:
print(df_raw.batting_team.nunique())
# sorted(df_raw.batting_team.unique())

15

In [177]:
value_consistency('batting_team', ['Delhi Capitals', 'Delhi Daredevils'], 'Delhi Capitals', df_raw)
value_consistency('batting_team', ['Pune Warriors','Rising Pune Supergiant', 'Rising Pune Supergiants'], 'Rising Pune Supergiant', df_raw)

Delhi Daredevils    18786
Delhi Capitals       4133
Name: batting_team, dtype: int64
-------------------------------------------
Delhi Capitals    22919
Name: batting_team, dtype: int64
--------------------------------------------------------------------------------
Pune Warriors              5443
Rising Pune Supergiant     1900
Rising Pune Supergiants    1580
Name: batting_team, dtype: int64
-------------------------------------------
Rising Pune Supergiant    8923
Name: batting_team, dtype: int64
--------------------------------------------------------------------------------

## bowling_team

In [178]:
print(df_raw.bowling_team.nunique())
team_consistency('bowling_team', ['Delhi Capitals', 'Delhi Daredevils'], 'Delhi Capitals', df_raw)
team_consistency('bowling_team', ['Pune Warriors','Rising Pune Supergiant', 'Rising Pune Supergiants'], 'Rising Pune Supergiant', df_raw)
print(df_raw.bowling_team.nunique())

15
Delhi Daredevils    18725
Delhi Capitals       4144
Name: bowling_team, dtype: int64
-------------------------------------------
Delhi Capitals    22869
Name: bowling_team, dtype: int64
--------------------------------------------------------------------------------
Pune Warriors              5457
Rising Pune Supergiant     1928
Rising Pune Supergiants    1615
Name: bowling_team, dtype: int64
-------------------------------------------
Rising Pune Supergiant    9000
Name: bowling_team, dtype: int64
--------------------------------------------------------------------------------
12

In [179]:
assert False
df_raw.to_csv('dataset/all_matches_clean.csv')

AssertionError: