In [356]:
import pandas as pd
import numpy as np
import plotly
import plotly.graph_objects as go

In [357]:
df_raw = pd.read_csv('dataset/individual_match/1254060.csv')

In [358]:
df = df_raw[['match_id', 'venue', 'innings', 'batting_team', 'bowling_team', 'ball', 'striker', 'non_striker', 
         'bowler', 'runs_off_bat', 'extras']].copy()

In [359]:
df['score'] = df['runs_off_bat'] + df['extras']

In [360]:
df['over'] = df['ball'].map(np.floor).round(0).astype('int')

In [361]:
innings1 = df[df['innings'] == 1]
innings2 = df[df['innings'] == 2]

In [365]:
def rolling_window(all_overs):
    batsman = []
    window = 0
    start = 0
    for index in range(0, len(all_overs)):
    #     print(index, " : ", type())
        v = set()
        if(window >= 5):
            start = index - 5
            for i in range(start, index+1):
                v.update(all_overs[i])
        else:
            window += 1
            v = np.nan
        batsman.append(v)
    return batsman
    #     print(start, index, batsman)

In [366]:
feats = ['match_id','venue', 'innings', 'batting_team', 'bowling_team', 'over'] 

batsmen_per_over = innings1.groupby(feats)['striker', 'non_striker'].apply(lambda x: set(np.unique(x)))

bowlers_per_over = innings1.groupby(feats)['bowler'].apply(lambda x: set(np.unique(x)))

runs = innings1.groupby(feats)['score'].sum().cumsum()

In [367]:
fd_inn1 = pd.DataFrame({
    'batsmen':rolling_window(batsmen_per_over),
    'bowlers':rolling_window(bowlers_per_over),
    'runs': runs}).reset_index()
print(fd_inn1)

    match_id                                     venue  innings  \
0    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
1    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
2    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
3    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
4    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
5    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
6    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
7    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
8    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
9    1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
10   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
11   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
12   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
13   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
14   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
15   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
16   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
17   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
18   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1
19   1254060  MA Chidambaram Stadium, Chepauk, Chennai        1

             batting_team         bowling_team  over  \
0   Kolkata Knight Riders  Sunrisers Hyderabad     0
1   Kolkata Knight Riders  Sunrisers Hyderabad     1
2   Kolkata Knight Riders  Sunrisers Hyderabad     2
3   Kolkata Knight Riders  Sunrisers Hyderabad     3
4   Kolkata Knight Riders  Sunrisers Hyderabad     4
5   Kolkata Knight Riders  Sunrisers Hyderabad     5
6   Kolkata Knight Riders  Sunrisers Hyderabad     6
7   Kolkata Knight Riders  Sunrisers Hyderabad     7
8   Kolkata Knight Riders  Sunrisers Hyderabad     8
9   Kolkata Knight Riders  Sunrisers Hyderabad     9
10  Kolkata Knight Riders  Sunrisers Hyderabad    10
11  Kolkata Knight Riders  Sunrisers Hyderabad    11
12  Kolkata Knight Riders  Sunrisers Hyderabad    12
13  Kolkata Knight Riders  Sunrisers Hyderabad    13
14  Kolkata Knight Riders  Sunrisers Hyderabad    14
15  Kolkata Knight Riders  Sunrisers Hyderabad    15
16  Kolkata Knight Riders  Sunrisers Hyderabad    16
17  Kolkata Knight Riders  Sunrisers Hyderabad    17
18  Kolkata Knight Riders  Sunrisers Hyderabad    18
19  Kolkata Knight Riders  Sunrisers Hyderabad    19

                                              batsmen  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                              {Shubman Gill, N Rana}
6                              {Shubman Gill, N Rana}
7                 {Shubman Gill, N Rana, RA Tripathi}
8                 {Shubman Gill, N Rana, RA Tripathi}
9                 {Shubman Gill, N Rana, RA Tripathi}
10                {Shubman Gill, N Rana, RA Tripathi}
11                {Shubman Gill, N Rana, RA Tripathi}
12                              {N Rana, RA Tripathi}
13                              {N Rana, RA Tripathi}
14                              {N Rana, RA Tripathi}
15                  {AD Russell, N Rana, RA Tripathi}
16      {EJG Morgan, AD Russell, N Rana, RA Tripathi}
17  {EJG Morgan, KD Karthik, AD Russell, Shakib Al...
18  {EJG Morgan, KD Karthik, AD Russell, Shakib Al...
19  {EJG Morgan, KD Karthik, AD Russell, Shakib Al...

                                              bowlers  runs
0                                                 NaN     4
1                                                 NaN    13
2                                                 NaN    19
3                                                 NaN    33
4                                                 NaN    45
5   {B Kumar, T Natarajan, Mohammad Nabi, Sandeep ...    50
6   {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...    53
7   {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...    64
8   {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...    69
9   {Rashid Khan, V Shankar, T Natarajan, Mohammad...    83
10  {Rashid Khan, V Shankar, Mohammad Nabi, T Nata...    92
11  {Rashid Khan, V Shankar, Mohammad Nabi, T Nata...   105
12  {Rashid Khan, V Shankar, Mohammad Nabi, T Nata...   114
13  {Rashid Khan, V Shankar, T Natarajan, Mohammad...   126
14  {Rashid Khan, V Shankar, T Natarajan, Mohammad...   145
15  {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...   152
16  {Rashid Khan, Mohammad Nabi, T Natarajan, Sand...   159
17  {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...   162
18  {Rashid Khan, T Natarajan, Mohammad Nabi, Sand...   171
19  {Rashid Khan, T Natarajan, Mohammad Nabi, B Ku...   187

In [370]:
fd_inn1.bowlers.values

array([nan, nan, nan, nan, nan,
       {'B Kumar', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma'},
       {'Rashid Khan', 'V Shankar', 'T Natarajan', 'Mohammad Nabi'},
       {'Rashid Khan', 'V Shankar', 'Mohammad Nabi', 'T Natarajan'},
       {'Rashid Khan', 'V Shankar', 'Mohammad Nabi', 'T Natarajan'},
       {'Rashid Khan', 'V Shankar', 'Mohammad Nabi', 'T Natarajan'},
       {'Rashid Khan', 'V Shankar', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma'},
       {'Rashid Khan', 'V Shankar', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'Mohammad Nabi', 'T Natarajan', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'Sandeep Sharma', 'B Kumar'},
       {'Rashid Khan', 'T Natarajan', 'Mohammad Nabi', 'B Kumar'}],
      dtype=object)